/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.spacer{
    margin-bottom: 30px;
}
.clickable{
    cursor: pointer;
}
.label_td {
    padding-left: 5px;
    font-family: Tahoma;
    font-size: 12px;
    padding-right: 5px;
    font-weight: bold;
    height: 15px;
    border: 1px solid #A3C0E8;
    color: black;
    background-color: #d9edf7;
}
.scroll{
    overflow-y: auto;
     min-height: 800px;
      
}
.my-legend .legend-title { text-align: left; margin-bottom: 5px; font-weight: bold; font-size: 90%; }
.my-legend .legend-scale ul { margin: 0; margin-bottom: 5px; padding: 0; float: left; list-style: none; } 
.my-legend .legend-scale ul li { font-size: 80%; list-style: none; margin-left: 0; line-height: 18px; margin-bottom: 2px; } 
.my-legend ul.legend-labels li span { display: block; float: left; height: 16px; width: 30px; margin-right: 5px; margin-left: 0; border: 1px solid #999; } 
.my-legend .legend-source { font-size: 70%; color: #999; clear: both; } 
.my-legend a { color: #777; }